<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="xh.zero"/>

    <!-- 加载jdbc配置文件   -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 配置数据源对象， 把对象放入spring容器内部   -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- jdbc template 配置  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="roleDao" class="xh.zero.dao.impl.RoleDaoImpl"/>

    <bean id="roleService" class="xh.zero.service.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
    </bean>

    <bean id="userDao" class="xh.zero.dao.impl.UserDaoImpl"/>
    <bean class="xh.zero.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="roleDao" ref="roleDao"/>
    </bean>

    <!-- aop测试 -->
<!--    <aop:aspectj-autoproxy/>-->
<!--    <bean id="target" class="xh.zero.aop.Target"/>-->
<!--    <bean id="myAspect" class="xh.zero.aop.MyAspect"/>-->

<!--    <aop:config>-->
<!--        <aop:pointcut id="myPointcut" expression="execution(public void xh.zero.aop.Target.*())"/>-->
<!--        <aop:aspect ref="myAspect">-->
<!--            <aop:before method="before" pointcut-ref="myPointcut"/>-->
<!--            <aop:around method="surrounding" pointcut-ref="myPointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
    <bean id="accountDao" class="xh.zero.dao.impl.AccountDaoImpl"/>
    <bean id="accountService" class="xh.zero.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置事务增强   -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!-- 事务增强aop织入   -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(public void xh.zero.service.impl.AccountServiceImpl.*(..))"/>
    </aop:config>

</beans>